/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;

}

body{
    background-color: #dadbd4;
}

#app{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* IMAGE RESET */
img{
    max-width: 100%;
}

.avatar{
    width: 60px;
    border-radius: 100%;
}

/* ICON RESET */
i{
    color: #b1b1b1;
    font-size: 1.3rem;

    cursor: pointer;
}

/* CONTAINER */
.container{
    background-color: #f3eeea;
    width: 80%;
    height: 95%;

    display: flex;
}

/* NAVBAR */
.navbar{
    height: 100%;
    width: 35%;
    border-right: 1px solid grey;
    
    
}

.navbar-header{
    height: 70px;
    width: 100%;
    line-height: 70px;
    padding: 0 .5rem;

    display: flex;
    justify-content: space-between;

    border: 2px solid black;
}

.navbar-header-user{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-header-cta{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;   
}

.notifications{
    height: 80px;
    width: 100%;
    background-color: #8edafc;
}

.notifications-logo i{
    font-size: 2rem;
}

.notifications-logo{
    width: 60px;
    height: 60px;
    background-color: #f2fbff;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN MESSAGE */
.main-message{
    height: 100%;
    width: 65%;
    background-image: url(../img/mine.jpg);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-message-header{
    height: 70px;
    width: 100%;
    background-color: #f3eeea;
}

.main-message-text-area{
    height: calc(100% - 140px);
    width: 100%;

    
}

.main-message-footer{
    height: 70px;
    width: 100%;
    background-color: #f3eeea;
}