/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;

}

body{
    background-color: #dadbd4;
}

#app{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --navbar-header-height: 70px;
    --notifications-height: 80px;
    --searchbar-height: 50px;
    --contact-height: 80px;
}

/* IMAGE RESET */
img{
    max-width: 100%;
}

.avatar{
    width: 50px;
    border-radius: 100%;
}

/* ICON RESET */
i{
    color: #b1b1b1;
    font-size: 1.3rem;

    cursor: pointer;
}

/* CONTAINER */
.container{
    background-color: #f3eeea;
    width: 80%;
    height: 95%;

    display: flex;
}

/* NAVBAR */
.navbar{
    height: 100%;
    width: 35%;
    border-right: 1px solid grey;
    
    
}

.navbar-header{
    height: var(--navbar-header-height);
    width: 100%;
    line-height: 70px;
    padding: 0 .5rem;

    display: flex;
    justify-content: space-between;
}

.navbar-header-user{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-header-cta{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;   
}

.notifications{
    height: var(--notifications-height);
    width: 100%;
    background-color: #8edafc;

    display: flex;
    align-items: center;

    padding-left: 1rem;
}

.notifications-logo i{
    font-size: 1.5rem;
    color: #8edafc;
    
}

.notifications-logo{
    width: 50px;
    height: 50px;
    background-color: #f2fbff;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: .5rem;
}

.notifications-text a{
    color: grey;
}

/* SEARCH BAR */
.searchbar{
    width: 100%;
    height: var(--searchbar-height);
    padding: 0 .5rem;

    display: flex;
    align-items: center;
}

.searchbar-icon{
    width: 20%;
    height: 35px;
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar-icon i{
    font-size: 1.2rem;
}

.searchbar input{
    height: 35px;
    width: 80%;
    border: none;
}

/* CONTACTS */
.contacts{
    background-color: #ffffff;
    height: calc(100% - var(--navbar-header-height) - var(--notifications-height) - var(--searchbar-height) );
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

.contact{
    height: var(--contact-height);
    padding: 0 .7rem;

    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e9ebeb;
}

.contact-user{
    height: 100%;
    display: flex;
    align-items: center;
}

.contact-image{
    margin-right: .8rem;
}

.contact-text p {
    color: gray;
}

.contact-last-access span {
    color: gray;
    font-size: .8rem;
}

/* ACTIVE STATUS */
.active {
    background-color: #e9ebeb;
}
/* MAIN MESSAGE */
.main-message{
    height: 100%;
    width: 65%;
    background-image: url(../img/mine.jpg);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-message-header{
    height: 70px;
    width: 100%;
    background-color: #f3eeea;
}

.main-message-text-area{
    height: calc(100% - 140px);
    width: 100%;

    
}

.main-message-footer{
    height: 70px;
    width: 100%;
    background-color: #f3eeea;
}