<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- FONTAWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- AXIOS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"
      integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Luxon CDN -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.3/build/global/luxon.min.js"></script>
    <title>Boolzapp</title>
  </head>
  <body>
    <div id="app">
      <!-- MAIN CONTAINER -->
      <div class="container">
        <!-- LEFT NAVBAR -->
        <div class="navbar">
          <!-- NAVBAR HEADER -->
          <div class="navbar-header">
            <!-- USER -->
            <div class="navbar-header-user">
              <img class="avatar" src="img/avatar_io.jpg" alt="User Avatar" />
              <h4>Sofia</h4>
            </div>

            <!-- CTA -->
            <div class="navbar-header-cta">
              <i class="fa-solid fa-circle-notch"></i>
              <i class="fa-solid fa-message"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>

          <!-- ACTIVE NOTIFICATIONS -->
          <div class="notifications">
            <div class="notifications-logo">
              <i class="fa-solid fa-bell-slash"></i>
            </div>
            <div class="notifications-text">
              <h4>Ricevi notifiche di nuovi messaggi</h4>
              <a href="">Attiva notifiche desktop</a>
            </div>
          </div>

          <!-- SEARCH BAR -->
          <div class="searchbar">
            <div class="searchbar-icon">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <input type="text" placeholder="Cerca o inizia una nuova chat" />
          </div>

          <!-- CONTACS AREA -->
          <div class="contacts">
            <div
              class="contact"
              v-for="(contact, index) in contacts"
              :class="activeContact === index ? 'active' : ''"
              @click="showMessage(index)"
            >
              <div class="contact-user">
                <div class="contact-image">
                  <img
                    class="avatar"
                    :src="'img/avatar' + contact.avatar + '.jpg' "
                    :alt="'Avatar' + contact.avatar"
                  />
                </div>
                <div class="contact-text">
                  <h3>{{contact.name}}</h3>
                  <p>Ultimo messaggio inviato</p>
                </div>
              </div>
              <div class="contact-last-access">
                <span
                  >{{ contacts[index].messages[contacts[index].messages.length -
                  1].date.substr(11,5) }}</span
                >
              </div>
            </div>
          </div>
        </div>
        <!-- /LEFT NAVBAR -->

        <!-- MESSAGE PART -->
        <div class="main-message">
          <!-- MAIN MESSAGE HEADER -->
          <div class="main-message-header">
            <div class="main-message-header-user">
              <div class="main-message-header-user-avatar">
                <img
                  class="avatar"
                  :src="'img/avatar' + contacts[activeContact].avatar + '.jpg' "
                  :alt="'Avatar' + contacts[activeContact].avatar"
                />
              </div>
              <div class="main-message-header-user-text">
                <h3>{{ contacts[activeContact].name }}</h3>
                <span class="grey"
                  >Ultimo accesso alle
                  <!-- {{contacts[activeContact].messages[2].date.substr(11,5)}} -->
                  {{
                  contacts[activeContact].messages[contacts[activeContact].messages.length
                  - 1].date.substr(11,5) }}
                </span>
              </div>
            </div>
            <div class="main-message-header-cta">
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-paperclip"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>

          <!-- MAIN MESSAGE TEXT AREA -->
          <div class="main-message-text-area">
            <div
              class="message"
              :class="[message.status]"
              v-for="(message, index) in contacts[activeContact].messages"
            >
              <span> {{message.message}} </span>
              <span class="dateMsg"
                >{{ contacts[activeContact].messages[index].date.substr(11,5)
                }}</span
              >
            </div>
          </div>

          <!-- MAIN MESSAGE FOOTER -->
          <div class="main-message-footer">
            <div class="footer-icon">
              <i class="fa-regular fa-face-smile"></i>
            </div>
            <div class="footer-input">
              <input
                type="text"
                placeholder="Scrivi un messaggio"
                v-model.trim="newMessage.message"
                @keyup.enter="newMessage"
              />
            </div>
            <div class="footer-icon">
              <i class="fa-solid fa-microphone"></i>
            </div>
          </div>
        </div>
        <!-- /MESSAGE PART -->
      </div>
      <!-- /MAIN CONTAINER -->
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
